{% extends "main.html" %}

{% block content %}
<div class="complaint-container m-3 p-3" style="background-color: #0c0c0c; border-radius: 20px">
    <p class="text-white">From: {{ complaint.user.email }} Sent Date: {{ complaint.date }}</p>
    <hr class="bg-white">
    <p class="text-white">{{ complaint.description }}</p>
    <form action="{% url 'complaint-reply-url' complaint.id %}" method="post">
        {% csrf_token %}
        <label class="w-100">
            Reply <br>
            <textarea class="form-control" name="reply" rows="10" cols="50" placeholder="Type your reply here..."></textarea>
        </label><br>
        <button class="btn-success" type="submit">Send</button>
    </form>
</div>
{% endblock %}
